body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
*{
  margin:0;
  padding: 0;
}
:root{
  --theme : limegreen;
  --black: #000;
  --white: #fff;
}
#theme-btn{
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding:5px 6px;
  font-size: 30px;
  border-radius: 50%;
  color: var(--black);
}
.dark-theme{
  background: black;
}
@media (max-width: 764px) {
  #theme-btn {
    font-size: 20px;
  }
}
.container{
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem; 
  border: 1px solid var(--black);
  border-top : 40px solid var(--black);
  background: var(--white);
  border-radius: .5rem;
  height: min(max-content,500px);
  width: min(300px, 350px);
  z-index: 5;
}
.container .heading{
  position: absolute;
  top: -35px;
  color: var(--white);
  left: 50px;
}
.container form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--black);
}
.container .input{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
}

.container input{
  padding: .8rem;
  width: 80%;
  border: .5px solid var(--black);
  border-radius: 10px;
  outline: none;
}

.container #amount-label{
  position: absolute;
  top: 11px;
  left : 30px;
  transition: all 150ms linear;
  background: white;
  padding: 0 5px;
  border-radius: 5px;
}

.container input:focus + #amount-label{
  top: -15px;
  left: 25px;
}
.container input:valid + #amount-label{
  left: 25px;
  top: -15px;
}
.container select{
  padding: 5px;
  margin: 10px;
  outline:none;
  border-radius: 5px;
  border: .8px solid var(--black);
  background: none;
  color: var(--black);
}

.container .arrow{
  transform: rotate(90deg);
  opacity: 0.6;
  color: var(--black);
}
.container input:focus,
.container select:focus {
  border: 1px solid var(--theme);
}
.container input:focus+#amount-label {
  border-top: 1px solid var(--theme);
  border-right: 1px solid var(--theme);
  border-left: 1px solid var(--theme);

}
.container #submitBtn{
  padding: .5rem 1rem;
  margin: 1rem auto;
  font-size: 16px;
  border: 1px solid var(--black);
  color: var(--black);
  border-radius: 10px;
  background: none;
  letter-spacing: 5px;
}
.container #submitBtn:active{
  background: var(--black);
  color: white;
}
.container .result-container{
  padding: 5px;
  border-radius: 3px;
  margin: 2rem auto 1rem auto ;
  border: 1px solid var(--theme);
  overflow-x: auto;
  flex: 0 0 90%;
  height: 10px;
  color: #6A6A6A;
  line-height: 25px;
  font-size: 16px;
}
.container .result-displayer{
  font-size: 18px;
}
.container .success{
  color: #000000;
  background: #D4FFDE;
  border: 1px solid #DEFFE6;
}
.container .error{
  color: #FFFFFF;
  background: #E67520;
  border: 1px solid #E5852B;
}